<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cowell_brand_index_index_data_source" xsi:type="string">Cowell\Brand\Model\ResourceModel\Brands\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Cowell\Brand\Model\ResourceModel\Brands\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brand</argument>
            <argument name="resourceModel" xsi:type="string">Cowell\Brand\Model\ResourceModel\Brands</argument>
        </arguments>
    </virtualType>
    <virtualType name="BrandImage" type="Cowell\Brand\Model\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">Cowell\Brand\Model\Uploader::IMAGE_TMP_PATH</argument>
            <argument name="basePath" xsi:type="const">Cowell\Brand\Model\Uploader::IMAGE_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Cowell\Brand\Controller\Adminhtml\Index\Upload">
        <arguments>
            <argument name="uploader" xsi:type="object">BrandImage</argument>
        </arguments>
    </type>
    <type name="Cowell\Brand\Model\UploaderPool">
        <arguments>
            <argument name="uploaders" xsi:type="array">
                <item name="image" xsi:type="string">BrandImage</item>
            </argument>
        </arguments>
    </type>
</config>
